@using BOL;
@using BLL;
@{
    ViewData["Title"] = "Update";
}
<form method="post">
    <div>
        <input name="pid" type="number" placeholder="@Model.pid" value="@Model.pid" readonly>
        <input name="pname" placeholder="@Model.pname" type="text" value="">
        <input name="uprice" placeholder="@Model.uprice" type="number" value="">
        <input name="splid" placeholder="@Model.splid" type="number" value="">

        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>