@using BLL;
@using BOL;
@{
    ViewData["Title"] = "Menu List";
}

<div class="text-center">
    <h1 class="display-4">Menu List</h1>
    <div>
        <table style="text-align:justify; width:50%; margin-left:25%;">
            <thead>
                <tr>
                    <th>
                        <h3>ID</h3>
                    </th>
                    <th>
                        <h3>NAME</h3>
                    </th>
                    <th>
                        <h3>RATE</h3>
                    </th>
                    <th>
                        <h3>Actions</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    List<Menu> menulist = new List<Menu>();
                    menulist = (List<Menu>)this.ViewData["menulist"];
                    @foreach (Menu m in menulist)
                    {
                        <tr>
                            <td>@m.id</td>
                            <td>@m.name</td>
                            <td>@m.rate</td>
                            <td>
                                <a href="Edit/@m.id" name="id" value="@m.id">EDIT</a> / <a href="Remove/@m.id" name="id"
                                    value="@m.id">DELETE</a>
                            </td>
                        </tr>
                    }

                }
            </tbody>
    </div>
    <span>
        <a href="/Menu/Add">
            <button class="btn btn-primary">ADD</button>
        </a>
    </span>

    </table>

</div>
